.categoryPanel {
  top:0;
  display:block;
  width:10%;
  max-width: 10%;
  min-width: 5%;
  margin-top: 20px;
  position: absolute;
  left:70px;
  transition: left 0.5s ease 100ms;
}
.categoryLine {
  position: absolute;
  left:7%;
  vertical-align: bottom;
             }
.categoryLineNone {
@extend .categoryLine;
display:none;
                  }
//.categoryPanelNone {
//  margin-top: 20px;
//  position: absolute;
//  left:-500px;
//  transition: left 0.5s ease 100ms;
//}
.categoryPanelNone {
    @extend .categoryPanel;
    left:-500px;
    transition: left 0.5s ease 100ms;
                   }
.categoryItem {
  display: block;
  cursor: pointer;
  width:250px;
  max-width: 250px;
  min-width: 170px;
  background: rgba(0,0,0,0.7);
  font-family: "Comfortaa Light";
  font-weight: normal;
  color:white;
  height: 60px;
  line-height: 4em;
  text-align: center;
}
.categoryItem:hover {
  background: #4a4a4a;
  filter:progid:DXImageTransform.Microsoft.Blur(10px);
}
.categoryItemChosen {
  @extend .categoryItem;
  color: #a46eff;
}
.categoryText {
  align-self: center;
  text-align: left;
}
.categoryImage {
  margin-top:5px;
  float:left;
  margin-left: 20px;
  margin-right: 40px;
  text-align: center;
  height:40px;
  width:40px;
  //line-height:5em;
}
//.categoryImage:hover {
//  background: #636363;
//}