.homeButton {
  width:45px;
  height:45px;
  margin-right: 10px;
  text-align: center;
  line-height: 2.8em;
}
.homeButton:hover {
  @extend .homeButton;
  cursor: pointer;
  border-radius: 50px;
  background: rgba(87, 87, 87, 0.6)
}
.homeDiv {
  text-align: center;
  color:white;
  position: absolute;
  left:80%;
  top:3%;
  display: block;
  width:200%;
  max-width:250px;
  min-width:200px;
  height: 570%;
  background: rgba(0,0,0,0.3);
  transition: all 0.5s ease 100ms;
  opacity: 1;
}
.homeDivNone {
  @extend .homeDiv;
  opacity: 0;
  left: 2000px;
  transition: all 0.5s ease 100ms;
}
.imgStyle {
  float: left;
  left: 10px;
  top:30px;
  margin-top: 15px;
  margin-left: 20px;
}
hr {
  border: none; /* Убираем границу */
  background-color: white; /* Цвет линии */
  color: white; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
}
.loginDiv {
  margin:20px;
  display:flex;   display:-webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content:space-between;
}
.photoDiv {
  width:60px;
}
.imgDiv {
  text-align:center;
  margin-left: 20px;
  width:200px;
}
.logoutButton {
  cursor:pointer;
  font: 10px Comfortaa-Light bold;
  border-radius: 5px;
  margin-top: 10px;
  width: 140px;
  height: 35px;
  border: 1px solid grey;
  background: none;
  color:grey;
}
.logoutButton:hover {
color: #d7d7d7;
border-color: #d4d4d4;
}