@import "menu";
@import "video";
@import "homemenu";
@import "animations";
@import "settings";
@import "parent_control";
@import "categories";
@import "video_upper_menu";
@import "video_bottom_menu";
@import "TVChannelImg";
* {
  outline: 0;
  border: 0;
  }
body {
  background: black;
      }
@font-face {
  font-family: "Comfortaa-Light";
  src: url(../fonts/Comfortaa-Light.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "RobotoMedium";
  src: url(../fonts/RobotoMedium.ttf);
  font-weight: 600;
}


.testDiv {
  background: white;
  display: block;
  width:100px;
  height: 40px;
  transition: width 1s ease 1s;


}
.testDiv:hover {
  display: block;
  width:0;
  transition: width 1s ease 1s;
}