@import "menu";
@import "video";
@import "homemenu";
@import "animations";
@import "settings";
@import "parent_control";
@import "categories";
@import "video_upper_menu";
@import "video_bottom_menu";
@import "TVChannelImg";
@import "videoarchive";

* {
  outline: 0;
  border: 0;
  }
body  {
  background: black;
  outline: 0;
  border: 0;
  overflow:  hidden;
      }
@font-face {
  font-family: "Comfortaa-Light";
  src: url(../fonts/Comfortaa-Light.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "RobotoMedium";
  src: url(../fonts/RobotoMedium.ttf);
  font-weight: 600;
}


.testDiv {
  background: white;
  display: block;
  width:100px;
  height: 40px;
  transition: width 1s ease 1s;
         }
.testDiv:hover {
  display: block;
  width:0;
  transition: width 1s ease 1s;
                }
.mainMenuDiv {
  top:-20px;
  margin-top: 15px;
  position: fixed;
  //position: absolute;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index:2147483647;
            }
.mainMenuDivFull {
@extend .mainMenuDiv;
height:120px;
top:-15px;
//background: rgba(0, 0, 0,0.3)
background: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
                 }


.menuDives {
  height: 50px;
  //width:150px;
  display: flex;
           }
//.menuCenterText {
//  position: relative;
//  width:500px;
//}
.menuCenterText {
  letter-spacing: 2px;
  font-family: "Comfortaa Light";
  font-weight: normal;
  font-size:20px;
  color:white;
                }
.menuCenterTextBig {
  @extend .menuCenterText;
  font-size:30px;
  margin-bottom: 10px;
}
.menuCenterTextBigBold {
  @extend .menuCenterTextBig;
  font-weight:bold;

}

.displayNone {
  display:none;
  //position:relative;
  //top:-10%;
  //position: absolute;
  z-index:2147483647;
}

//#video {
//  position:relative;
//  //left:10%;
//}