.tvimg      {
  margin-right: 20px;
  margin-top: 7px;
            }
.pname       {
  height: 60px;
  position: absolute;
  white-space:nowrap;
  overflow: hidden;
  width:170px;
             }
.pnameShadow {
  position: absolute;
  left:90%;
  height: 110%;
  z-index: 30;
             }
.divShadow {
  @extend .pnameShadow;
  background: -webkit-linear-gradient(bottom, rgba(47, 79, 79, 0), #2f4f4f 5em, #2f4f4f);
  background: linear-gradient(0deg, rgba(47, 79, 79, 0), #2f4f4f 5em, #2f4f4f);
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pnameFav {
  position: relative;
  left:200px;
  top:-50%;
  z-index: 33;
  //margin-bottom: 20px;
          }
.rateContainer {
  position: relative;
  top:25px;
  margin-right: 20px;
  float: right;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:15px;
  width:50px;
  z-index: 31;
               }
.rateDivFilled  {
  width: 7px;
  height: 7px;
  margin-right: 3px;
  border-radius: 5px;
  background: $main_color;
          }
.rateDivFilledChosen {
  @extend .rateDivFilled;
  background: white;
}
.rateDivEmpty  {
  width: 7px;
  height: 7px;
  margin-right: 2px;
  border-radius: 5px;
  background: #686868;
}