video::-webkit-media-controls {
   display:none;
                              }
video::-moz-media-controls    {
  display:none;
                              }
video::media-controls         {
  display:none;
                              }
.innerDiv                     {
  float:left;
  margin-left: 100px;
  margin-top: 20px;
                              }
//Progress Bar
//Bottom Invis Buttons
.span                         {
   float: left;
   margin-right:15px;
   margin-left:15px;
                              }
.playerButtonsDiv>i:hover     {
  text-shadow: 2px 2px 3px
  rgba(255,255,255,0.3),0 0 1em white;
                              }
.playerButtonsDiv>img:hover   {
  box-shadow: inset 0px 2px 24px 40px
  rgba(255,255,255,0.4),0 0 2em white;
  outline: 0;
  border-radius: 25px;
}
.videoOnButtonsDiv            {
  position:relative;
  top:50%;
                              }
#video                        {
  align-self: center;
  width: 100%;
  height:99%;
                              }

.playBackDiv                  {
  position: fixed;
  top:80%;
  z-index:2147483647;
                              }
.panelDiv                     {
  position: absolute;
  top:60%;
  width:100%;
  height:40%;
}