.divBottomPlayer {
  align-self: center;
  -webkit-align-self: center;
  position: relative;
  width: 400px;
  height: 70px;
  //rgba(0,0,0,0.1);
  display:flex;
  flex-direction:row;
  justify-content: center;
  -webkit-justify-content:center;
  align-items: center;
  -webkit-align-items: center;
  margin-top: 10px;
  z-index:2147483647;
}
.divBottomPlayerFull {
  @extend .divBottomPlayer;
  position: absolute;
  top:91%;
  left:40%;
}
.playerButtonsBottomDiv {
  display:flex;
  display:-webkit-flex;
  margin: auto;
  -webkit-align-self: center;
  width: 400px;
  height: 50px;
  justify-content: space-between;
  -webkit-justify-content:space-between;
  align-items: center;
  -webkit-align-items: center;
}
.iconsDiv {
  color: white;
  font-size: 13px;
  font-family: "RobotoMedium";
  font-weight: bold;
  margin: auto;
  //margin-left: 40px;
  //margin-top: 70px;
  width:60px;
  height:55px;
  text-align: center;
  padding-top: 15px;
}
.iconsDiv:hover {
  @extend .iconsDiv;
  cursor:pointer;
  background:blueviolet;
  border-radius:40px;
  position: inherit;
}
.upper_buttons_res {
  margin: auto;
  color: white;
  position: relative;
  width:40px;
  height:20px;
  font-size: 13px;
  font-family: "RobotoMedium";
  font-weight: bold;
  line-height: 1.4em;
  //vertical-align: middle;
}
.upper_buttons_live {
  @extend .upper_buttons_res;
  z-index:3;
  border:1px solid white;
  //line-height: 3em;
}
.upper_buttons_square {
  margin: auto;
  border-style: dashed;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(127, 79, 0, 0);
  position: relative;
  width:20px;
  height:21px;
}